*{margin:0Px;padding:0Px}
header, section, footer, aside, nav, article, figure
{display: block;}

/*Fondo de la pagina*/
body {background-color: #eaf5f2;
    font-family:Arial, Helvetica, sans-serif ;
    text-align: center;
    background-repeat: no-repeat;
    background-size: cover;}

/*Estructura de la pagina*/
header {background-color: #eaf5f2;}
nav {background-color: #198064;}
section{background-color: #ffffff3a;}
footer{background-color: rgba(58, 25, 241, 0);}

.container{
    width: 80%;
    height: 500px;
    margin: 50px auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

h1 {
    color: #292828;
}

h6 {
    text-align: center;
    margin: 50 px;

}

p {
    size: 1cm;
}

.hover-fade a {
	display: block;
	position: relative;
	overflow: hidden;
	background-color: #333;
  }
  .hover-fade img {
	width: 100%;
	height: auto;
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	-ms-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
  }
  .hover-fade:hover img {
	-webkit-transform: scale(1.2);
	-moz-transform: scale(1.2);
	-o-transform: scale(1.2);
	-ms-transform: scale(1.2);
	transform: scale(1.2);
	-ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0.5)";
	filter: alpha(opacity=0.5);
	opacity: 0.5;
  }


  /*Modo Oscuro*/

.switch {
	background: #343d6b;
	border-radius: 1000px;
	border: none;
	position: relative;
	cursor: pointer;
	display: flex;
	outline: none;
}

.switch::after{
	content: "";
	display: block;
	width: 30px;
	height: 30px;
	position: absolute;
	background: #eaf5f2;
	top: 0;
	left: 0;
	right: unset;
	border-radius: 100px;
	transition: .3s ease all;
	box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, .2);
}

.switch.active{
	background: orange;
	color: black;
}

.switch.active::after{
	left: unset;
	right: 0;
}

.switch span {
	width: 30px;
	height: 30px;
	line-height: 30px;
	display: block;
	background: none;
	color: #fff;
}
  
  
